:root {
  --border-installment: #d3d3d3;
  --positive-values: #4cb060;
  --negative-values: #f44336;
  --positive-percent: #21b2f8;
}

.box {
  min-width: 10%;
  padding: 2px 5px;
  margin: 5px 0px;
  border: 1px solid var(--border-installment);
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.number {
  color: black;
  margin-right: 10px;
}

.information {
  display: flex;
  flex-direction: column;
}

.positiveNumber {
  color: var(--positive-values);
}

.negativeNumber {
  color: var(--negative-values);
}

.positivePercent {
  color: var(--positive-percent);
}

.negativePercent {
  color: var(--negative-values);
}
